<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="todos content center">
                <h2>
                    All Todo List
                </h2>
                <ul class="todo-list">
                    <% if(todos.length < 1) { %>
                        <p class="no-items-lbl">No Items</p>
                        <% } else {%>
                            <% for(let item of todos) { %>
                                <li class="todo-item">
                                    <% if(locals.user && item.owner.name == locals.user.name) { %>
                                        <span ondblclick="editItem('<%= item.id %>')" id="todo-text-<%= item.id %>"><%= item.text %></span>
                                        <span class="item-buttons">
                                                <button onclick="editItem('<%= item.id %>')" id="editBtn-<%= item.id %>">Edit</button>
                                                <button onclick="deleteItem('<%= item.id %>')" id="deleteBtn-<%= item.id %>">Delete</button>
                                            </span>
                                        <% } else { %>
                                            <%= item.text %>
                                                <span class="item-owner"><%= item.owner.name %></span>
                                                <% } %>
                                </li>
                                <% } %>
                                    <% } %>
                </ul>
            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>